:root {
    --primario: #C2185B;
    --secundario: #FFC107;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: var(--primario);
}

.contenedor {
    max-width: 1100px;
    margin: 0 auto;
}

.bg-amarillo {
    background-color: var(--secundario);
}

.sombra {
    -webkit-box-shadow: 0px 6px 14px 0px rgba(0, 0, 0, 0.71);
    -moz-box-shadow: 0px 6px 14px 0px rgba(0, 0, 0, 0.71);
    box-shadow: 0px 6px 14px 0px rgba(0, 0, 0, 0.71);


}